<!DOCTYPE html>
<html lang="en">
  {% extends 'index.html' %}

  {% block body %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> fertilizer Prediction</title>
    <link rel="stylesheet" href="static/css/fertilizer.css">
</head>
<script>
  function validateInput(inputId) {
  var inputValue = parseFloat(document.getElementById(inputId).value);
  var errorElement = document.getElementById(inputId + "Error");
  
  if (isNaN(inputValue)) {
      errorElement.textContent = "Please enter a valid number.";
  } else if (inputValue < 0 || inputValue > 1000) {
      errorElement.textContent = "Number must be between 0 and 1000.";
  } else if (inputValue.toString().indexOf('.') !== -1 && inputValue.toString().split('.')[1].length > 0) {
      errorElement.textContent = "Maximum precision exceeded. Please enter up to 10 decimal places.";
  } else {
      errorElement.textContent = "";
  }
}
function validateInput1(inputId) {
  var inputValue = parseFloat(document.getElementById(inputId).value);
  var errorElement = document.getElementById(inputId + "Error");
  
  if (isNaN(inputValue)) {
      errorElement.textContent = "Please enter a valid number.";
  } else if (inputValue < 0 || inputValue > 80) {
      errorElement.textContent = "Number must be between 0 and 80.";
  } else if (inputValue.toString().indexOf('.') !== -1 && inputValue.toString().split('.')[1].length > 10) {
      errorElement.textContent = "Maximum precision exceeded. Please enter up to 10 decimal places.";
  } else {
      errorElement.textContent = "";
  }
}
function validateInput2(inputId) {
  var inputValue = parseFloat(document.getElementById(inputId).value);
  var errorElement = document.getElementById(inputId + "Error");
  
  if (isNaN(inputValue)) {
      errorElement.textContent = "Please enter a valid number.";
  } else if (inputValue < 0 || inputValue > 14) {
      errorElement.textContent = "Number must be between 0 and 14.";
  } else if (inputValue.toString().indexOf('.') !== -1 && inputValue.toString().split('.')[1].length > 10) {
      errorElement.textContent = "Maximum precision exceeded. Please enter up to 10 decimal places.";
  } else {
      errorElement.textContent = "";
  }
}
function validateInput3(inputId) {
  var inputValue = parseFloat(document.getElementById(inputId).value);
  var errorElement = document.getElementById(inputId + "Error");
  
  if (isNaN(inputValue)) {
      errorElement.textContent = "Please enter a valid number.";
  } else if (inputValue < 0 || inputValue > 300) {
      errorElement.textContent = "Number must be between 0 and 300.";
  } else if (inputValue.toString().indexOf('.') !== -1 && inputValue.toString().split('.')[1].length > 10) {
      errorElement.textContent = "Maximum precision exceeded. Please enter up to 10 decimal places.";
  } else {
      errorElement.textContent = "";
  }
}
</script>
<body>
    <h1>Fertilizer  Recommendation</h1>

    <form action="/recommend" method="post">
      <label for="N">Nitrogen (N) in mg/kg:</label><br>
      <input type="number"  id="N" name="input_data[]" min="0.0" required oninput="validateInput('N')">
      <span id="NError" style="color: red;"></span><br>
  
      <label for="P">Phosphorus (P) in mg/kg:</label><br>
      <input type="number"  id="P" name="input_data[]" min="0" required oninput="validateInput('P')">
      <span id="PError" style="color: red;"></span><br>
  
      <label for="K">Potassium (K) in mg/kg:</label><br>
      <input type="number" id="K" name="input_data[]" min="0" required oninput="validateInput('K')">
      <span id="KError" style="color: red;"></span><br>
        
      <label for="ph">pH:</label><br>
        <input type="number" step="0.000000001" id="ph" name="input_data[]" min="0" required oninput="validateInput2('ph')">
        <span id="phError" style="color: red;"></span><br>

        <div>
            <label style="width: 50%; height: 25%;" for="crop">Select Crop:</label><br>
            <select id="crop" name="crop" >
              <option selected disabled>Select crop</option>
              <option value="rice">Rice</option>
              <option value="maize">Maize</option>
              <option value="chickpea">Chickpea</option>
              <option value="kidneybeans">Kidney Beans</option>
              <option value="pigeonpeas">Pigeon Peas</option>
              <option value="mothbeans">Moth Beans</option>
              <option value="mungbean">Mung Bean</option>
              <option value="blackgram">Black Gram</option>
              <option value="lentil">Lentil</option>
              <option value="pomegranate">Pomegranate</option>
              <option value="banana">Banana</option>
              <option value="mango">Mango</option>
              <option value="grapes">Grapes</option>
              <option value="watermelon">Watermelon</option>
              <option value="muskmelon">Muskmelon</option>
              <option value="apple">Apple</option>
              <option value="orange">Orange</option>
              <option value="papaya">Papaya</option>
              <option value="coconut">Coconut</option>
              <option value="cotton">Cotton</option>
              <option value="jute">Jute</option>
              <option value="coffee">Coffee</option>
            </select>
          </div>
          <br>
        <input type="submit" value="recommend">
    </form>
    <!-- {% if prediction %}
    <p>Predicted Crop: {{ prediction }}</p>
    {% endif %} -->

</body>
{% endblock %}


</html>
