<!DOCTYPE html>
<html lang="en">
{% extends 'index.html' %}

{% block body %}
  <head>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fertilizer recommendation Result</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<style>
    h1{
        margin-top: 5%;
    }
</style>
<body>
    <h1 style="text-align: center;">Fertilizer recommendation Result</h1>
                    {% if prediction %}
                    <div style="border: 2px solid maroon; padding: 10px; border-radius: 5px; background-color: lightyellow;">
                        <p style="margin-left: 5% ;">Predicted Fertilizer: {{ prediction }}</p>
                    </div>
                    {% else %}
                    <p>No prediction available.</p>
                    {% endif %}
</body><br><br>
{% endblock %}
</html>
